.cta-button{
  background-color: $button-color;
  color: $main-font-color;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 5px #774433);

&:hover{
background-color: #ff1744;
}
&:active{
background-color:#b71c1c;
}
}
.cta-button-small{
  padding: 10px 40px;
}
