/*start*/
.navbar-default {
  background-color: #0d0b11;
  background-image: none;
  box-shadow: none;
  border: none; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  background-image: none;
  box-shadow: none;
  background-color: transparent;
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:first-letter {
  text-transform: uppercase; }

.bold-text {
  font-weight: 900; }

.main-header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/work.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/work.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  color: #ffffff;
  width: 100%;
  height: 460px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9); }
  .main-header h1 {
    padding-top: 150px; }
  .main-header button {
    margin-top: 50px; }

.header-image {
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: -15px 15px 5px 0px rgba(92, 93, 104, 0.8); }

@media (max-width: 1000px) {
  .header-image {
    display: none; } }
.sub-header {
  min-height: 560px;
  background-color: #475a85;
  color: #ffffff;
  text-align: center; }
  .sub-header button, .sub-header h4 {
    margin-top: 20px; }

.sub-header-title {
  margin-top: 70px;
  margin-bottom: 10px; }

.portfolio-header:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  background-image: url("../img/touch.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 420px;
  filter: grayscale(20%) hue-rotate(20deg);
  -webkit-filter: grayscale(20%) hue-rotate(20deg); }

.portfolio-header {
  height: 420px; }

.port-head {
  text-align: center;
  position: relative;
  color: #ffffff; }
  .port-head h1 {
    font-size: 48px;
    margin-top: 0;
    padding-top: 190px; }

.portfolio {
  min-height: 900px;
  text-align: center; }

.portfolio-title {
  margin-top: 10vh;
  margin-bottom: 10vh; }

.portfolio-item {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #475a85;
  background-size: cover;
  height: 290px;
  width: 370px; }

.portfolio-item-one {
  background: url("../img/portfolio3.jpg");
  background-size: cover; }

.portfolio-item-two {
  background: url("../img/portfolio4.jpg");
  background-size: cover; }

.portfolio-item-three {
  background: url("../img/portfolio5.jpg");
  background-size: cover; }

.portfolio-item-four {
  background: url("../img/portfolio6.jpg");
  background-size: cover; }

.portfolio-item-five {
  background: url("../img/portfolio7.jpg");
  background-size: cover; }

.portfolio-item-six {
  background: url("../img/portfolio8.jpg");
  background-size: cover; }

.hovered-portfolio-item {
  height: 290px;
  background: #475a85; }

.text {
  color: white;
  opacity: 0; }
  .text h3, .textimg {
    padding: 3vh; }

.text-hovered {
  opacity: 1; }

.container-fluid {
  padding: 0px; }

.contact-map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
  min-height: 700px;
  padding: 0px;
  margin-top: -200px; }

.contact-title {
  margin-top: 70px;
  margin-bottom: 10px; }

.contact {
  min-height: 670px;
  background-color: #475a85;
  color: #ffffff;
  text-align: center; }
  .contact h4 {
    margin-top: 20px; }
  .contact address {
    display: block;
    margin-top: 60px;
    text-align: left;
    line-height: 3em;
    padding-left: 5%;
    color: #b5bdce; }
  .contact a {
    text-decoration: none;
    color: #b5bdce; }
  .contact p {
    font-size: 18px; }

.white-text {
  color: #ffffff; }

form {
  text-align: left;
  margin-top: 60px;
  padding: 1em;
  padding-right: 10%; }

input, textarea {
  line-height: 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: #eeeeee;
  color: #747474;
  padding-left: 5px; }

input {
  display: inline-block;
  width: 49%; }

textarea {
  display: block;
  width: 100%; }

.copyright {
  background-color: #161828;
  color: #76777f;
  text-align: center;
  min-height: 177px;
  letter-spacing: 1px; }

.copyright-text {
  padding-top: 40px; }

.testimonials {
  min-height: 250px; }

.testimonials-title {
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center; }

.testimonials-photo {
  ackground-image: url("../img/4.png"); }

.cta-button {
  background-color: #ea5b58;
  color: #ffffff;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 5px #774433);
          filter: drop-shadow(3px 3px 5px #774433); }
  .cta-button:hover {
    background-color: #ff1744; }
  .cta-button:active {
    background-color: #b71c1c; }

.cta-button-small {
  padding: 10px 40px; }

.carousel {
  max-height: 350px; }

.rounded-photo {
  border-radius: 50%; }

.item {
  max-height: 350px; }
  .item p, .item i, .item li {
    color: #323232; }

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  background-color: transparent; }

.carousel-indicators li {
  opacity: 1;
  border: 1px solid black; }

.carousel-indicators li.active {
  background-color: #323232;
  border: 1px solid black; }

/*# sourceMappingURL=main.css.map */