/*start*/
.navbar-default {
  background-color: #0d0b11;
  background-image: none;
  box-shadow: none;
  border: none; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  background-image: none;
  box-shadow: none;
  background-color: transparent;
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:first-letter {
  text-transform: uppercase; }

.bold-text {
  font-weight: 900; }

.main-header {
  background-image: url("../img/work.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  color: #ffffff;
  width: 100%;
  height: 460px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9); }

.main-header h1 {
  margin-top: 20vh; }

.main-header button {
  margin-top: 9vh; }

.header-image {
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: -15px 15px 5px 0px rgba(92, 93, 104, 0.8); }

.sub-header {
  height: 560px;
  background-color: #475a85;
  color: #ffffff;
  text-align: center; }

.sub-header-title {
  margin-top: 8vh;
  margin-bottom: 4vh; }

.sub-header button,
.sub-header h4 {
  margin-top: 3vh; }

.portfolio-header:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  background-image: url("../img/touch.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  filter: grayscale(20%) hue-rotate(20deg);
  -webkit-filter: grayscale(20%) hue-rotate(20deg); }

.portfolio-header {
  height: 420px; }

.port-head {
  text-align: center;
  position: relative;
  color: #ffffff; }

.port-head h1 {
  font-size: 48px;
  margin-top: 0;
  padding-top: 30vh; }

.portfolio {
  height: 900px;
  text-align: center; }

.portfolio-title {
  margin-top: 10vh;
  margin-bottom: 10vh; }

.portfolio-item {
  width: 320px;
  margin-top: 5vh;
  margin-left: 5vh;
  background-color: #475a85;
  background-size: cover;
  height: 290px;
  width: 370px; }

.portfolio-item-one {
  background: url("../img/portfolio3.jpg");
  background-size: cover; }

.portfolio-item-two {
  background: url("../img/portfolio4.jpg");
  background-size: cover; }

.portfolio-item-three {
  background: url("../img/portfolio5.jpg");
  background-size: cover; }

.portfolio-item-four {
  background: url("../img/portfolio6.jpg");
  background-size: cover; }

.portfolio-item-five {
  background: url("../img/portfolio7.jpg");
  background-size: cover; }

.portfolio-item-six {
  background: url("../img/portfolio8.jpg");
  background-size: cover; }

.hovered-portfolio-item {
  height: 290px;
  background: #475a85; }

.text {
  color: white;
  opacity: 0; }

.text h3,
.text img {
  padding: 3vh; }

.text-hovered {
  opacity: 1; }

.testimonials {
  height: 250px; }

.testimonials-title {
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center; }

.testimonials-photo {
  background-image: url("../img/4.png"); }

.cta-button {
  background-color: #ea5b58;
  color: #ffffff;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 5px #774433);
          filter: drop-shadow(3px 3px 5px #774433); }

.cta-button:hover {
  background-color: #ff1744; }

.cta-button:active {
  background-color: #b71c1c; }

.cta-button-small {
  padding: 10px 40px; }

.rounded-photo {
  border-radius: 50%; }

/*# sourceMappingURL=main.css.map */