$primary-bg-color:#475a85;
$menu-color:#0d0b11;
$button-color:#ea5b58;
$main-font-color:#ffffff;
$secondary-font-color:#323232;
$portfolio-img-hovered-color:#506083;
$footer-font-color:#b5bdce;
$copyright-font-color: #76777f;
$copyright-bg-color:  #161828;

$primary-font-family:'Open Sans', sans-serif;
