
.navbar-default{
	background-color: $menu-color;
	background-image:none;
	box-shadow:none;
	border:none;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  background-image: none;
  box-shadow: none;
  background-color: transparent;
  color:$main-font-color;
}
.navbar-default .navbar-nav > li > a:first-letter {
 text-transform:uppercase;
}
.bold-text{
  font-weight: 900;
}
.main-header{
  background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7) ), url("../img/work.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  color: $main-font-color;
  width: 100%;
  height:460px;
  filter:brightness(0.9);
	& h1{
	  padding-top: 150px;
	}
	& button{
	  margin-top:50px;
	}
}
.header-image{
	margin-top: 30px;
border-radius: 20px;
-webkit-box-shadow: -15px 15px 5px 0px rgba(92,93,104,0.8);
-moz-box-shadow: -15px 15px 5px 0px rgba(92,93,104,0.8);
box-shadow: -15px 15px 5px 0px rgba(92,93,104,0.8);
}
@media(max-width:1000px){
.header-image{
	display: none;
}

}
.sub-header{
	min-height: 560px;
	width: 100%;
	  background-color: $primary-bg-color;
		  color: $main-font-color;
			text-align: center;
	& button,
	& h4{
		margin-top: 20px;
			}
}
.sub-header-title{
	  margin-top: 70px;
		margin-bottom: 10px;
}
