

.portfolio-header:before{
  content:"";
  position: absolute;
    left: 0;
    right: 0;
   display: block;
  background-image: url("../img/touch.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 420px;
width:100%;
  filter: grayscale(20%)  hue-rotate(20deg);
  -webkit-filter: grayscale(20%) hue-rotate(20deg);
}
.portfolio-header{
    height: 420px;
}

.port-head{
  text-align: center;
  position: relative;
  color: $main-font-color;

  & h1{
    font-size: 48px;
    margin-top: 0;
    padding-top: 190px;
}
}
.portfolio{
  min-height: 900px;
  text-align: center;
}
.portfolio-title{
  margin-top:10vh;
  margin-bottom: 10vh;
}
.portfolio-item  {
  margin-top:20px;
  margin-left: 20px;
  background-color: $primary-bg-color;
  background-size: cover;
height: 290px;
width: 370px;
}

.portfolio-item-one {
  background: url("../img/portfolio3.jpg");
  background-size: cover;
}
.portfolio-item-two{
  background: url("../img/portfolio4.jpg");
  background-size: cover;
}
.portfolio-item-three {
  background: url("../img/portfolio5.jpg");
  background-size: cover;
}
.portfolio-item-four {
  background: url("../img/portfolio6.jpg");
  background-size: cover;
}
.portfolio-item-five{
  background: url("../img/portfolio7.jpg");
  background-size: cover;
}
.portfolio-item-six {
  background: url("../img/portfolio8.jpg");
  background-size: cover;
}
.hovered-portfolio-item{
  height: 290px;
  background: $primary-bg-color;
}
.text{
  color:white;
  opacity: 0;
    & h3,
    &img{
      padding: 3vh;
}
}
.text-hovered{
  opacity:1;
}
